/*bio page stylesheet*/

/*to border box entire page*/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}


[class*="col-"] {
    float: left;
    padding: 20px;
}
html {
    font-family: 'Merriweather', serif;
}

body
{
background-image: url("../images/jl.jpg");
background-attachment:fixed;

}


img.a
{
width: 25px;
height: 25px;
}

img.c
{
width:35px;
height: 35px;
}

img.spec
{
width: 55px;
height: 20px;
}
/*nav bar container*/
#menu
{

position:fixed;
top: 0;
left: 0;
width: 100%;

z-index: +1;
}
#menuitem
{
left: 0;
}
ul 
{
list-style: none; /* Remove list bullets */
padding-top: 5px ;
margin: 0;
height:100%;

overflow: hidden;
background-color:rgba(0, 0, 0,0.8 );
z-index:+2;

}
li
{
list-style: none; /* Remove list bullets */
padding: 5px;
margin: 0;
display: inline-block;
}




/* unvisited link */
a.mens {
   
	text-decoration: none;
	background-color: light green;
    color: black;
    border: 2px black;
	border-radius: 0;
    padding:10px 10px;
    text-align: center;
	
    
    display: inline-block;
}

/* visited link */
a.mens:visited  {
    color: purple;
	text-decoration: none;
}

/* mouse over link */
a.mens:hover  {
    color: grey;
	background-color: rgba(0,0,0,0.9);
	text-decoration: none;
	
	font-size: 85%;
	
	border-bottom: 2px black;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}





.dropdown-content {
    display: none;
	left:0;
	width:15%;
    position: absolute;
    background-color: rgba(255, 255, 255,0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

.dropdown-content a {
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


/*footer*/


.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
	margin:0;
	z-index:+1;
	width:100%;
	overflow:hidden;
	
}
#foot2
{
position:absolute;
left:0;
width:100%;
z-index:+1;

}
#foot1
{
left:0;
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%; }
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */ 
    [class*="col-"] {
        width: 100%;
		padding:0px;
    }
	
}
/*paragragh 1*/
p.ray
{
padding-left:30px;
padding-top:45px;
padding-bottom:10px;
padding-right:30px;

line-height: 150%;
letter-spacing: 1px;

}
/*paragragh 3&4*/
p.roy
{
padding-left:30px;

padding-bottom:20px;
padding-right:30px;

line-height: 150%;
letter-spacing: 1px;
}
/*paragragh 5*/
p.roy2
{

padding-left:10px;
font-family: 'Rock Salt', cursive;
padding-bottom:20px;
padding-right:30px;
float:right;
font-weight: thick;
font-size:200%;
letter-spacing: 1px;
}

/*paragragh 2*/

p.sun
{
padding-left:40px;
font-style: italic;
padding-bottom:10px;
padding-right:40px;

line-height: 150%;
letter-spacing: 1px;
text-align: center;
}
/*paragragh 6*/
p.kin
{
font-style: italic;
line-height: 150%;
letter-spacing: 1px;
text-align: center;
padding-bottom:10px;
}

h1.text2
{
font-size: 600%;
font-family: 'Mate SC', serif;
font-style: normal;

font-variant: small-caps;
float:left;
text-shadow: 2px 2px #262626;
position:auto;

}
h4
{
text-align:center;
}

/*middle container on the right*/
#mids
{
background-repeat: no-repeat;
background-size:cover;
background-attachment:fixed;
width:100%;
heigth: auto;
}

#center1
{
width:220px;
height:200px;
}
#left1
{
width:100%;
height:240px;
}
.asid
{
padding-top:70px;
}

#tabs
{

text-align:center;
padding:10px;
}

/*middle container on the left*/
#cover
{
width:100%;
float: left;
border: 2px black;
color: black;
box-shadow:0px 8px 16px 0px rgba(0,0,0,0.9);
background-color:rgba(242, 242, 242, 0.9);
}

#img2
{
width:100%;
heigth: 100%;
}

p.b
{
color:white;
}



hr.a
{
width:50%;
text-align:center;

}
