/*Student Number: BCS1620588F*/
/*Student Name: Simi Pam Dachomo*/
/*contact page style sheet*/


/*to border box entire page*/
* {
    box-sizing: border-box;
}
/*to insert content and control layout after each row*/
.part::after {
    content: "";
    clear: both;
    display: block;
}
/*menu icon size and color change */
.material-icons
{
	font-size:30px;
	color:white;
}
/*stlye for all col class for columns*/

[class*="col-"] {
    float: left;
    padding-left: 60px;
	padding-top:50px;
}
/*setting text for entire page*/
html {
   font-family: 'Merriweather', serif;
   
}
/*setting background for entire page*/
body
{
background-image: url("../images/jl.jpg");
background-attachment:fixed;

}
/*all social media link icons*/
img.a
{
width: 25px;
height: 25px;
}
/*github icon*/
img.spec
{
width: 55px;
height: 20px;
}

/*header container*/

#menu
{

position:fixed;
top: 0;
left: 0;
width: 100%;

z-index: +1;
}
#menuitem
{
left: 0;
}
ul 
{
list-style: none; /* Remove list bullets */
padding-top: 5px ;
margin: 0;
height:100%;

overflow: hidden;
/*setting translucent background*/
background-color:rgba(0, 0, 0,0.8 );
z-index:+2;

}
li
{
list-style: none; /* Remove list bullets */
padding: 5px;
margin: 0;
display: inline-block;
}




/* unvisited link */
a.mens {
   
	text-decoration: none;
	\
    color: black;
    border: 2px black;
	border-radius: 0;
    padding:10px 10px;
    text-align: center;
	
    
    display: inline-block;
}

/* visited link */
a.mens:visited  {
    color: purple;
	text-decoration: none;
}

/* mouse over link */
a.mens:hover  {
    color: grey;
	background-color: rgba(0,0,0,0.9);
	text-decoration: none;
	
	font-size: 85%;
	
	border-bottom: 2px black;
}


li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




/*dropdown menu*/
.menucontent {
    display: none;
	left:0;
	width:15%;
    position: absolute;
    background-color: rgba(255, 255, 255,0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}
/*dropdown content*/
.menucontent a {
    color: black;
    padding: 17px 17px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/*hovering style of the menu content live here*/
.menucontent a:hover {background-color: #f1f1f1}

.menu1:hover .menucontent {
    display: block;
}




/*form adjustments*/
form {
    width: 80%;
	margin: 15px;
	display:inline-block;
    flex-direction: column;
    
	float:right;
	float:right;
	padding-top:80px;
}

/*label settings*/
label 
{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: right;
	margin: 7px 5px;
	
}




/*font settings that displays hints in placeholder in text box, box adjustments*/
input[type=text]
{
	background-color: #f8f8f8;
	width: 70%;
    padding: 12px 20px;
    margin: 10px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    outline: none;
	display: flex;
	
}

/*changes after box has been clicked on*/
input[type=text]:focus 
{   
    border: 1px solid #555;
	background-color:white;
}
/*font in textare, area adjustments*/
textarea {
    width: 70%;
    height: 170px;
    padding: 10px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    outline: none;
    display: flex;
    background-color: #f8f8f8;
    font-size: 16px;
	 margin: 10px 5px;
    
}
/*changes after box has been clicked on*/
textarea:focus 
{
    border: 1px solid #555;
	background-color:white;
}
/*form buttons settings*/
input[type=submit], input[type=reset] 
{
    background-color: rgba(214, 214, 194, 0.4);
    border: 1.5px solid rgb(0,0,0);
	
	font-weight: lighter;
	box-shadow: 0.5px 0.5px 0.5px #2e2e1f;
    color: black;
    padding: 9px 20px;
    text-decoration: none;
    margin: 4px 5px;
    cursor: pointer;
	border-radius:0px;
	float: left;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	}
	/*changes after mouse has been placed on button*/
	/* mouse over link */
input[type=submit]:hover,
input[type=reset]:hover 
	{
	color: grey;
	text-decoration: none;
	font-size:80%;
	
	border-bottom: 2px black;
	background-color: rgba(0,0,0,0.9);
	}
	
	/*footer container*/
.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
	margin:0;
	
	width:100%;
	overflow:hidden;
	
}


/*making page responsive*/
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */ 
    [class*="col-"] {
        width: 100%;
		padding-left:5px;
		padding-top:30px;
    }
	
	
}
/*major heading, page title*/
h1
{
font-size:270%;
color:black;

font-weight: lighter;

text-shadow: 1px 0px #262626;
font-variant: small-caps;
letter-spacing: 1px;
float:left;
}
/*second heading in page*/
h3

{
font-size:140%;
color:black;

font-weight: lighter;

text-shadow: 1px 0px #262626;
font-variant: small-caps;
letter-spacing: 1px;
float:left;

}
/*font adjustments for text in first column of middle row*/
p.b
{
font-size: 100%;
color:black;

font-weight: lighter;

text-align:left;
float:left;
letter-spacing: 1px;

}
/*all texts in p tag */
p
{
color:white;
text-align:center;
}


/*adjusting social media container*/
#tabs
{

padding-bottom:10px;
float:left;
}
/* adjustingall social media link icons below large image in tabs div*/
img.c
{
width:35px;
height: 35px;
}
/*to remove the white line demacation of the footer from the sides*/
#foot2
{
position:absolute;
left:0;
width:100%;
z-index:+1;

}
#foot1
{
left:0;
}

/*map adjustments*/
iframe
{	
	frameborder="0";
	style="border:0";
	width:80%;
	height:auto;
	float:left;
	padding-bottom:10px;
}
