/*contact page style sheet*/
* {
    box-sizing: border-box;
	
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding-left: 60px;
	padding-top:50px;
}
html {
    font-family: 'Merriweather', serif;
}

body
{
background-image: url("../images/jl.jpg");
background-attachment:fixed;

}

img.map
{	
	width:100%;
	height:auto;
	float:left;
	padding-bottom:20px;
}
#menu
{
position:fixed;
top: 0;
left: 0;
width: 100%;
background-color: rgb (255, 209, 220);
z-index: +1;
}
#menuitem
{
left: 0;
}
ul 
{
list-style: none; /* Remove list bullets */
padding-top: 5px ;
margin: 0;
height:100%;

overflow: hidden;
background-color:rgba(0, 0, 0,0.8 );
z-index:+2;

}
li
{
list-style: none; /* Remove list bullets */
padding: 5px;
margin: 0;
display: inline-block;


	
}

a.mens {
   
	text-decoration: none;
	
    color: black;
    border: 2px black;
	border-radius: 0;
    padding:;
    text-align: center;
	
    
    display: inline-block;
}

/* visited link */
a.mens:visited  {
    color: purple;
	text-decoration: none;
}

/* mouse over link */
a.mens:hover  {
    color: grey;
	text-decoration: none;
	
	font-size: 85%;
	border-bottom: 2px black;
	background-color: rgba(0,0,0,0.9);
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li.dropdown {
    display: inline-block;
	
}

.dropdown-content {
    display: none;
	left:0;
	width:15%;
    position: absolute;
    background-color: rgba(255, 255, 255,0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

.dropdown-content a {
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* mouse over link */
.dropdown-content a:hover {background-color: #f1f1f1}
/* mouse over link */
.dropdown:hover .dropdown-content {
    display: block;
}

img.a
{
width: 25px;
height: 25px;
}

img.spec
{
width: 55px;
height: 20px;
}


form {
    width: 80%;
	margin: 15px;
	display:inline-block;
    flex-direction: column;
    
	float:right;
	float:right;
	padding-top:80px;
}

label 
{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: right;
	margin: 7px 5px;
	
}




input[type=text]
{
	background-color: #f8f8f8;
	width: 70%;
    padding: 12px 20px;
    margin: 10px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    outline: none;
	display: flex;
	
}

input[type=text]:focus 
{   
    border: 1px solid #555;
	background-color:white;
}
textarea {
    width: 70%;
    height: 170px;
    padding: 10px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    outline: none;
    display: flex;
    background-color: #f8f8f8;
    font-size: 16px;
	 margin: 10px 5px;
    
}
textarea:focus 
{
    border: 1px solid #555;
	background-color:white;
}

input[type=submit], input[type=reset] 
{
    background-color: rgba(214, 214, 194, 0.4);
    border: 1.5px solid rgb(0,0,0);
	
	font-weight: lighter;
	box-shadow: 0.5px 0.5px 0.5px #2e2e1f;
    color: black;
    padding: 9px 20px;
    text-decoration: none;
    margin: 4px 5px;
    cursor: pointer;
	border-radius:0px;
	float: left;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	}
	
	/* mouse over link */
input[type=submit]:hover,
input[type=reset]:hover 
	{
	color: grey;
	text-decoration: none;
	font-size:80%;
	
	border-bottom: 2px black;
	background-color: rgba(0,0,0,0.9);
	}
	
	
.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
	margin:0;
	
	width:100%;
	overflow:hidden;
	
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */ 
    [class*="col-"] {
        width: 100%;
		padding-left:5px;
    }
	
	
}

h1
{
font-size:270%;
color:black;

font-weight: lighter;

text-shadow: 1px 0px #262626;
font-variant: small-caps;
letter-spacing: 1px;
float:left;
}

h3

{
font-size:140%;
color:black;

font-weight: lighter;

text-shadow: 1px 0px #262626;
font-variant: small-caps;
letter-spacing: 1px;
float:left;

}

p.b
{
font-size: 100%;
color:black;

font-weight: lighter;

text-align:left;
float:left;
letter-spacing: 1px;

}

p
{
color:white;
text-align:center;
}



#tabs
{

padding-bottom:10px;
float:left;
}

img.c
{
width:35px;
height: 35px;
}

#foot2
{
position:absolute;
left:0;
width:100%;
z-index:+1;

}
#foot1
{
left:0;
}