/*index page stylesheet*/

body
{
background-image: url("../images/jl.jpg");
background-attachment:fixed;

}


.rest
{
width:100%;
background-color:white;
height:100%;
}

[class*="col-"] {
    float: left;
    font-size:90px;
	
	
	
}

* {
    box-sizing: border-box;
	
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%; }
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%; }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */ 
	
    [class*="col-"] {
        width: 100%;
		font-size:40px;
		
    }
	
	
}
@media only screen and (max-width: 368px) {
    /* For mobile phones: */ 
	
    [class*="col-"] {
        width: 100%;
		font-size:20px;
		
    }
	
	
}

html {
 font-family: 'Merriweather', serif;
   
   }
.header {
 
}


.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
	
    padding: 15px;
	margin:0;
	
	width:100%;
	overflow:hidden;
	
}
h1.text1
{
font-size: 500%;

font-style: normal;
font-weight: lighter;
font-variant: small-caps;


text-shadow: 2px 2px #b8b894;
}




#img1 {
    width: 100%;
    height: auto;
		overflow:hidden;
    
}



img.a
{
width: 25px;
height: 25px;
}

img.spec
{
width: 55px;
height: 20px;
}

#menu
{

position:fixed;
top: 0;
left: 0;
width: 100%;
background-color: rgba (255, 209, 220, 0.9);
z-index: +1;
}
#menuitem
{
left: 0;
}
ul 
{
list-style: none; /* Remove list bullets */
padding-top: 5px ;
margin: 0;
height:100%;

overflow: hidden;
background-color:rgba(0, 0, 0,0.8 );
z-index:+2;

}
li
{
list-style: none; /* Remove list bullets */
padding: 5px;
margin: 0;
display: inline-block;
	
}





/* unvisited link */
a.mens {
   
	text-decoration: none;
	background-color: light green;
    color: black;
    border: 2px black;
	border-radius: 0;
    padding:10px 10px;
    text-align: center;
	
    
    display: inline-block;
}

/* visited link */
a.mens:visited  {
    color: purple;
	text-decoration: none;
}

/* mouse over link */
a.mens:hover  {
    color: grey;
	background-color: rgba(0,0,0,0.9);
	text-decoration: none;
	
	font-size: 85%;
	
	border-bottom: 2px black;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .:hover, .b:hover  {
    background-color:rgba(248, 242, 242, 1);
}

li.dropdown {
    display: inline-block;
	
}

.dropdown-content {
    display: none;
	left:0;
	width:15%;
    position: absolute;
    background-color: rgba(255, 255, 255,0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

.dropdown-content a {
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

h2
{



color:black;
font-family: 'Mate SC', serif;
font-style: normal;

font-variant: small-caps;

text-shadow: 2px 2px #adad85;

letter-spacing: 1px;
}

p
{
color:white;
}


.con {
    background-color: rgba(214, 214, 194, 0.4);
    color: black;
    text-align: center;
    font-size: 12px;
    padding-bottom: 25px;
	margin:0;
	
	width:100%;
	overflow:hidden;
}


a.cons
 
{
   
    padding-bottom: 10px ;
    padding-top: 10px ;
    padding-left: 36px ;
	padding-right:36px;
	
	width: 20%;
    text-align: center;
    text-decoration: none;
   margin:  4px;
    font-size: 17px;
    
    cursor: pointer;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	
    color: black;
    border: 2px solid black;
	
	
	box-shadow: 0.5px 0.5px 0.5px #2e2e1f;
}

a.cons1
 
{
   
    padding-bottom: 10px ;
    padding-top: 10px ;
    padding-left: 45px ;
	padding-right:45px;
	
	width: 20%;
    text-align: center;
    text-decoration: none;
   margin:  4px;
    font-size: 17px;
    
    cursor: pointer;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	
    color: black;
    border: 2px solid black;
	
	
	box-shadow: 0.5px 0.5px 0.5px #2e2e1f;
}
.under
{
background-image: url("../images/jl.jpg");
background-attachment:fixed;	
}
#name
{
	position:absolute;
left:0;
width:100%;

	
	text-align:center;
padding-top:40px;
}

#s1
{
	padding-top:30px;
	padding-bottom:30px;
	
}

#s2
{
	padding-bottom:10px;

}
	
	
	
	
/* mouse over link */
a.cons1:hover  {
    color: grey;
	text-decoration: none;
	
	font-size:120%;
	border-bottom: 2px black;
	background-color: rgba(0,0,0,0.9);
	
}	
	

/* mouse over link */
a.cons:hover  {
    color: grey;
	text-decoration: none;
	
	font-size:120%;
	border-bottom: 2px black;
	background-color: rgba(0,0,0,0.9);
	
}


#foot2
{
position:absolute;
left:0;
width:100%;
z-index:+1;


}
#foot1
{
left:0px;
top:0px;
bottom:0px;
}