/*Student Number: 17418670*/
/*Student Name: Simi Pam Dachomo*/
/*index page stylesheet*/


/*grid view constructor element*/
* {
    box-sizing: border-box;
}
/*to insert content and control layout after each row*/
.part::after {
    content: "";
    clear: both;
    display: block;
}
/*stlye for all col class for columns*/
[class*="col-"] {
    float: left;
	
}
/*setting text for entire page*/
html {
    font-family: 'Merriweather', serif;
}

/*setting background for entire page*/
body
{
background-image: url("../images/jl.jpg");
background-attachment:fixed;

}

/*footer*/
.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
	
    padding: 15px;
	margin:0;
	
	width:100%;
	overflow:hidden;
	
}
/*to remove the white line demacation of the footer from the sides*/
#foot2
{
position:absolute;
left:0;
width:100%;
z-index:+1;


}
#foot1
{
left:0px;
top:0px;
bottom:0px;
}



/*all social media link icons*/
img.a
{
width: 25px;
height: 25px;
}


/*github menu icon*/
img.spec
{
width: 55px;
height: 20px;
}
/*menu icon size and color change */
.material-icons
{
	font-size:30px;
	color:white;
}
/*header container*/
#menu
{

position:fixed;
top: 0;
left: 0;
width: 100%;

z-index: +1;
}
#menuitem
{
left: 0;
}
ul 
{
list-style: none; /* Remove list bullets */
padding-top: 5px ;
margin: 0;
height:100%;

overflow: hidden;
/*setting translucent background*/
background-color:rgba(0, 0, 0,0.8 );
z-index:+2;

}
li
{
list-style: none; /* Remove list bullets */
padding: 5px;
margin: 0;
display: inline-block;
}




/* unvisited link */
a.mens {
   
	text-decoration: none;
	
    color: black;
    border: 2px black;
	border-radius: 0;
    padding:10px 10px;
    text-align: center;
	
    
    display: inline-block;
}

/* visited link */
a.mens:visited  {
    color: purple;
	text-decoration: none;
}

/* mouse over link */
a.mens:hover  {
    color: grey;
	background-color: rgba(0,0,0,0.9);
	text-decoration: none;
	
	font-size: 85%;
	
	border-bottom: 2px black;
}


li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




/*dropdown menu*/
.menucontent {
    display: none;
	left:0;
	width:15%;
    position: absolute;
    background-color: rgba(255, 255, 255,0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}
/*dropdown content*/
.menucontent a {
    color: black;
    padding: 17px 17px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/*hovering style of the menu content live here*/
.menucontent a:hover {background-color: #f1f1f1}

.menu1:hover .menucontent {
    display: block;
}
/*about me button*/
a.cons
 
{
   padding:10px;
   
    text-align: center;
	/*remove auto underline from link*/
    text-decoration: none;
   
    font-size: 17px;
    
    cursor: pointer;
	/*slow change of style*/
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	
    color: #66b3ff;
    
}
/*resume button*/
a.cons1
 
{
   padding:10px;
 
	
	
    text-align: center;
    text-decoration: none;
   
    font-size: 17px;
    
    cursor: pointer;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	
    color: #66b3ff;
   
}

/* mouse over link */
a.cons1:hover  {
    color: grey;
	text-decoration: none;
	
	font-size:100%;
	
	
}	
	

/* mouse over link */
a.cons:hover  {
    color: grey;
	text-decoration: none;
	
	font-size:100%;
	
	
}

/*making page responsive*/
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */ 
	
    [class*="col-"] {
        width: 100%;
		padding-bottom:10px;
		
    }
	
	
}

	
	

h1
{
text-align:center;
font-size: 500%;
font-family: 'Mate SC', serif;
font-style: normal;
padding-top:30px;
font-variant: small-caps;

text-shadow: 2px 2px #262626;
}


/*making image responsive*/
#img1
{

width:90%;
height:auto;


}
/*making a div the link*/

#full1
{
padding-bottom:5px;
}
#full
{
left:0px;
top:0px;
   text-align: center;
    font-size: 12px;
    padding: 10px;
	margin:5px;
	overflow:hidden;
background-color: rgba(0, 0, 0,0.8);
}
