/*Student Number: BCS1620588F*/
/*Student Name: Simi Pam Dachomo*/
/*resume page stylesheet*/
/*to border box entire page*/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
     padding-left: 60px;
	padding-top:70px;
}
html {
   font-family: 'Merriweather', serif;
   
}

body
{
background-image: url("../images/jl.jpg");
background-attachment:fixed;

}

img.a
{
width: 25px;
height: 25px;
}

img.spec
{
width: 55px;
height: 20px;
}

/*nav bar container*/

#menu
{

position:fixed;
top: 0;
left: 0;
width: 100%;

z-index: +1;
}
#menuitem
{
left: 0;
}
ul 
{
list-style: none; /* Remove list bullets */
padding-top: 5px ;
margin: 0;
height:100%;

overflow: hidden;
background-color:rgba(0, 0, 0,0.8 );
z-index:+2;

}
li
{
list-style: none; /* Remove list bullets */
padding: 5px;
margin: 0;
display: inline-block;
	
}





/* unvisited link */
a.mens {
   
	text-decoration: none;

    color: black;
    border: 2px black;
	border-radius: 0;
    padding:10px 10px;
    text-align: center;
	
    
    display: inline-block;
}

/* visited link */
a.mens:visited  {
    color: purple;
	text-decoration: none;
}

/* mouse over link */
a.mens:hover  {
    color: grey;
	background-color: rgba(0,0,0,0.9);
	text-decoration: none;
	
	font-size: 90%;
	
	border-bottom: 2px black;
}



li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}



.dropdown-content {
    display: none;
	left:0;
	width:15%;
    position: absolute;
    background-color: rgba(255, 255, 255,0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

.dropdown-content a {
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
a.cons
 
{
   
    
    
    padding-left: 20px ;
	padding-right:20px;
	padding-bottom:10px;
	padding-top:10px;
	width: 20%;
    text-align: center;
    text-decoration: none;
   
    font-size: 16px;
    
    cursor: pointer;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	
    color: black;
    border: 2px solid black;
	
	font-weight: lighter;
	box-shadow: 0.5px 0.5px 0.5px #2e2e1f;
}


	
	
	
	
	
	

/* mouse over link */
a.cons:hover  {
    color: grey;
	text-decoration: none;
	
	font-size:120%;
	border-bottom: 2px black;
	background-color: rgba(0,0,0,0.9);
	
}




.con {
    background-color: rgba(214, 214, 194, 0.4);
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 25px;
	margin:0;
	
	width:100%;
	overflow:hidden;
}

.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
	z-index:+1;
    padding: 15px;
	margin:0;
	
	width:100%;
	overflow:hidden;
	
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */ 
    [class*="col-"] {
        width: 100%;
		padding-top:50px;
    }
	
	
}

dt.red
{
color:red;
font-size: 115%;

font-style: normal;


line-height:20px;
font-variant: small-caps;
letter-spacing: 1px;
padding-bottom:8px;

}
dt.norm
{
font-size:100%;
color:gray;

line-height:20px;

letter-spacing: 1px;
padding-bottom:5px;
}
h3
{


line-height:20px;
font-variant: small-caps;
letter-spacing: 1px;
}
h2
{

padding-bottom:10px;
line-height:20px;
font-variant: small-caps;
letter-spacing: 1px;
}

#img1
{
width:55%;
height:auto;
}

.wrapt
{
width: 70%;
}

.wrapt2
{
width: 60%;
padding-top:70px;
}

a.fems {
   
	text-decoration: none;

    color: white;
   
    padding:10px 10px;
    text-align: center;
	
    
    display: inline-block;
}


p.b
{
color:white;
}

#tabs
{

padding-top:20px;

}

img.c
{
width:35px;
height: 35px;
}

#foot2
{
position:absolute;
left:0;
width:100%;
z-index:+1;

}
#foot1
{
left:0;
}
